<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python39\python.exe|C:\Python\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <caching>
            <profiles>
                <add extension=".pdf" policy="DisableCache" kernelCachePolicy="DisableCache" duration="00:00:30" />
                <add extension=".html" policy="DisableCache" kernelCachePolicy="DisableCache" duration="00:00:30" />
                <add extension=".py" policy="DisableCache" kernelCachePolicy="DisableCache" duration="00:00:30" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:03" />
        </staticContent>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" />
            </requestFiltering>
        </security>
  <!--   <customErrors mode="Off"/>
        <compilation debug="true"/> -->
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\www\hrmd-local" />
    <add key="WSGI_HANDLER" value="hrmd.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="hrmd.settings" />
  </appSettings>
</configuration>