
<div class="col-md-9">
    <div class="card card-primary card-outline">
        <div class="card-header">
        <h3 class="card-title">Post </h3>
            <div class="card-tools">
              <p class="btn btn-tool" style="color: black;">December 12, 2022</p>
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
        </div>

        <div class="card-body">
            <h2>CAAP CHISTMAS RAFFLE MINOR PRIZES WINNERS </h2>
            <div class="mySlides">
              <div class="numbertext">1 / 24</div>
              <img src="/media/Post/raffle/minor prizes-01.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">2 / 24</div>
              <img src="/media/Post/raffle/minor prizes-02.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">3 / 24</div>
              <img src="/media/Post/raffle/minor prizes-03.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">4 / 24</div>
              <img src="/media/Post/raffle/minor prizes-04.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">5 / 24</div>
              <img src="/media/Post/raffle/minor prizes-05.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">6 / 24</div>
              <img src="/media/Post/raffle/minor prizes-06.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">7 / 24</div>
              <img src="/media/Post/raffle/minor prizes-07.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">8 / 24</div>
              <img src="/media/Post/raffle/minor prizes-08.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">9 / 24</div>
              <img src="/media/Post/raffle/minor prizes-09.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">10 / 24</div>
              <img src="/media/Post/raffle/minor prizes-10.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">11 / 24</div>
              <img src="/media/Post/raffle/minor prizes-11.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">12 / 24</div>
              <img src="/media/Post/raffle/minor prizes-12.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">13 / 24</div>
              <img src="/media/Post/raffle/minor prizes-13.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">14 / 24</div>
              <img src="/media/Post/raffle/minor prizes-14.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">15 / 24</div>
              <img src="/media/Post/raffle/minor prizes-15.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">16 / 24</div>
              <img src="/media/Post/raffle/minor prizes-16.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">17 / 24</div>
              <img src="/media/Post/raffle/minor prizes-17.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">18 / 24</div>
              <img src="/media/Post/raffle/minor prizes-18.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">19 / 24</div>
              <img src="/media/Post/raffle/minor prizes-19.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">20 / 24</div>
              <img src="/media/Post/raffle/minor prizes-20.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">21 / 24</div>
              <img src="/media/Post/raffle/minor prizes-21.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">22 / 24</div>
              <img src="/media/Post/raffle/minor prizes-22.jpg" style="width:100%">
            </div>
            <div class="mySlides">
              <div class="numbertext">23 / 24</div>
              <img src="/media/Post/raffle/minor prizes-23.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <div class="numbertext">24 / 24</div>
              <img src="/media/Post/raffle/minor prizes-24.jpg" style="width:100%">
            </div>
              
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <div class="caption-container">
              <p id="caption"></p>
            </div>

            <div class="row">
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-01.jpg" style="width:100%" onclick="currentSlide(1)" alt="Minor Raffle Winners">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-02.jpg" style="width:100%" onclick="currentSlide(2)" alt="24 pcs Gift Checks worth P1,000.00 each">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-03.jpg" style="width:100%" onclick="currentSlide(3)" alt="24 pcs Gift Checks worth P1,000.00 each">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-04.jpg" style="width:100%" onclick="currentSlide(4)" alt="24 pcs Gift Checks worth P1,000.00 each">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-05.jpg" style="width:100%" onclick="currentSlide(5)" alt="34 bags of Assorted Goodies">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-06.jpg" style="width:100%" onclick="currentSlide(6)" alt="34 bags of Assorted Goodies">
              </div>

              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-07.jpg" style="width:100%" onclick="currentSlide(7)" alt="34 bags of Assorted Goodies
">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-08.jpg" style="width:100%" onclick="currentSlide(8)" alt="34 bags of Assorted Goodies
">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-09.jpg" style="width:100%" onclick="currentSlide(9)" alt="8 sets Refrigerator Organizers
">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-10.jpg" style="width:100%" onclick="currentSlide(10)" alt="10 sets Microwavable Tempered 
              Glass Containers">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-11.jpg" style="width:100%" onclick="currentSlide(11)" alt="2 pcs Memory Pillows">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-12.jpg" style="width:100%" onclick="currentSlide(12)" alt="1 unit Deep Fryer">
              </div>

              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-13.jpg" style="width:100%" onclick="currentSlide(13)" alt="4 sets Double Size Comforter">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-14.jpg" style="width:100%" onclick="currentSlide(14)" alt="5  sets Cutleries">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-15.jpg" style="width:100%" onclick="currentSlide(15)" alt="5  sets Kitchen Organizers">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-16.jpg" style="width:100%" onclick="currentSlide(16)" alt="5  sets Cookware">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-17.jpg" style="width:100%" onclick="currentSlide(17)" alt="1 unit Spin Mop Bucket">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-18.jpg" style="width:100%" onclick="currentSlide(18)" alt="2 units Food Chopper/Ice Crusher">
              </div>

              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-19.jpg" style="width:100%" onclick="currentSlide(19)" alt="2 units Tefal 1.2L Blender">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-20.jpg" style="width:100%" onclick="currentSlide(20)" alt="2 units 3D Industrial Fan">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-21.jpg" style="width:100%" onclick="currentSlide(21)" alt="2 units Imarflex Induction Cooker">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-22.jpg" style="width:100%" onclick="currentSlide(22)" alt="2 units Portable Vacuum Cleaner">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-23.jpg" style="width:100%" onclick="currentSlide(23)" alt="2 units Air Fryer">
              </div>
              <div class="column">
                <img class="demo cursor" src="/media/Post/raffle/minor prizes-24.jpg" style="width:100%" onclick="currentSlide(24)" alt="2 sets Tableware">
              </div>
            </div>

        </div>
        <!-- /.card-body-->
    </div>
    </div>